CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 1f2684708466

CREATE TABLE application (
    id VARCHAR NOT NULL, 
    sr_no INTEGER, 
    purpose VARCHAR(500), 
    department VARCHAR(255), 
    emp_no VARCHAR(100), 
    emp_name VARCHAR(255), 
    designation VARCHAR(255), 
    remarks TEXT, 
    status VARCHAR(50), 
    created_at DATETIME, 
    updated_at DATETIME, 
    PRIMARY KEY (id)
);

CREATE TABLE user (
    id VARCHAR NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    role VARCHAR(50), 
    created_at DATETIME, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE TABLE action_log (
    id VARCHAR NOT NULL, 
    application_id VARCHAR, 
    action VARCHAR(50), 
    user_id VARCHAR, 
    note TEXT, 
    created_at DATETIME, 
    PRIMARY KEY (id), 
    FOREIGN KEY(application_id) REFERENCES application (id)
);

INSERT INTO alembic_version (version_num) VALUES ('1f2684708466') RETURNING version_num;

-- Running upgrade 1f2684708466 -> 20251206_add_role_to_users

ALTER TABLE users ADD COLUMN role VARCHAR(30) DEFAULT 'user' NOT NULL;

UPDATE alembic_version SET version_num='20251206_add_role_to_users' WHERE alembic_version.version_num = '1f2684708466';

